html {
  background-color: #000000;
}

.display-container {
  max-width: 1200px;
  padding: 20px 30px 30px 30px;
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
}

img {
  margin-left: 85px;
}

img, h2 {
  display: inline-block;
  margin: 0px;
}

h2 {
  position: relative;
  top: -11px;
  left: -2px;
  color: #7F7F7F;
  font-weight: 400;
}
