.button-container {
  margin: 20px 0px 20px 0px;
  text-align: center;
}

.button-container i {
  padding: 5px 1px 0px 1px;
}

.disabled {
  background-color: #00FFBF;
  background-color: black;
}

button {
  border: none;
  background-color: #00FFBF;
  padding: 10px 20px 10px 20px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

button:hover {
  transition: 0.5s ease;
  filter: brightness(90%);
}
